html,
body {
	background-color: #f6f6f6;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	touch-action: none;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
.am-navbar {
	background-color: #414141;
	height: 60px;
}
.am-tab-bar-bar {
	height: 60px;
}
